body{
    font-family: 'Arial';
    background-color:cyan;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;  

}
h1{
    background-color:antiquewhite;
    padding: 20px;
    text-align: center;
}
nav{
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
}
nav a{
    color: rgb(27, 3, 3);
    text-decoration: none;
    margin: 10px 10px;
    font-weight: bold;
    font-size: large;
}
h2{
    text-align: center;
    color: rgb(14, 11, 11);
    font-weight: bold;
    background-color: rgb(233, 237, 212);
    padding: 20px;
}
#aboutmyself{
    margin: 5%;
    block-size: 470px;
    padding: 50px;
   
}
#mylifestory{
    margin: 5%;
    block-size: 470px;
    padding: 50px;
}
#Hobbies{
    margin: 5%;
    padding: 25px;
}
#favorites{
    margin: 5%;
    block-size: 470px;
    padding: 50px;
}
